@media only screen and (max-width: $xl) {
	.banner {
		text-align: center;
	}
}

@media only screen and (max-width: $lg) {
	.s-features {
		.features-text {
			text-align: center;
		}
		.img-container {
			display: none;
		}
	}
	.s-pricing {
		background: #F3FBFD;
		.plans {
			.plan {
				margin-top: 35px;
				order: 2;
			}
			.main-plan {
				order: 1;
			}
		}
	}
	.s-download {
		.download-text {
			width: 100%;
			order: 1;
			text-align: center;
		}
		.img-container {
			width: 90%;
			margin-top: 50px;
			order: 2;
		}
	}
	.s-reviews {
		.reviews {
			.review {
				width: 90%;
				padding-left: 15px;
				padding-right: 15px;
			}
			.review-disable-one,
			.review-disable-two {
				display: none;
			}
		}
	}
}

@media only screen and (max-width: $md) {
	header {
		nav {
			position: fixed;
			width: 100%;
			background: #51AFF7;
			border-bottom: none;
			z-index: 1000;
			.container {
				.menu-icon {
					position: relative;
					display: flex;
				}
				ul {
					position: absolute;
					display: none;
					width: 100%;
					flex-direction: column;
					align-items: center;
					top: 148px;
					padding-top: 25px;
					padding-bottom: 25px;
					background: #51AFF7;
					li {
						margin: 0;
						margin-bottom: 25px;
						&:last-child {
							margin: 0;
						}
						a {
							font-size: 28px;
						}
					}
				}
			}
		}
	}
	.banner {
		margin-top: 100px;
		button {
			margin-bottom: 25px;
		}
	}
	.s-reviews {
		.reviews {
			.review {
				width: 100%;
				height: auto;
			}
		}
	}
	footer {
		.footer-links {
			margin-top: 50px;
		}
	}
}

@media only screen and (max-width: $sm) {
	.paddings-mobile {
		padding-left: 4%;
		padding-right: 4%;
	}
	.banner {
		margin-top: 150px;
		button {
			margin-bottom: 25px;
		}
	}
	.s-download {
		.download-text,
		.img-container {
			width: 100%;
		}
	}
	.s-subscribe {
		form {
			width: 100%;
			input,
			.general-button {
				width: 80%;
				padding: 0;
				text-align: center;
			}
		}
	}
	footer {
		.site-info {
			p {
				text-align: center;
			}
		}
		.footer-links {
			margin-top: 50px;
			flex-wrap: wrap;
			ul {
				li {
					text-align: center;
				}
			}
		}
		.copyright {
			div {
				margin-bottom: 10px;
			}
		}
	}
}

@media only screen and (max-width: $xs) {}
