@import "libs";
@import "vars";
@import "fonts";
@import "global";
@import "flex";
@import url('https://fonts.googleapis.com/css?family=Raleway:400,500,600,700,800');
body {
	font-family: 'Raleway', sans-serif;
}

h2 {
	color: #494949;
}

.upper-title {
	color: #7C7C7C;
}

.divider {
	width: 30px;
	height: 1px;
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 2px solid #2EB0EC;
}

button {
	border: 0;
	cursor: pointer;
}

.general-button {
	background-color: #66D4F4;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #fff;
}

header {
	background: url("../img/header-bg.jpg") no-repeat;
	color: #fff;
	nav {
		padding-top: 50px;
		padding-bottom: 50px;
		border-bottom: 1px solid #BFE1FC;
		ul {
			li {
				margin-right: 38px;
				&:last-child {
					margin-right: 0;
				}
				a {
					font-size: 17px;
					font-weight: 500;
					text-transform: uppercase;
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
	.banner {
		width: 530px;
		height: 800px;
		h1 {
			font-family: "MuseoSlab";
			font-size: 40px;
			text-transform: uppercase;
		}
		p {
			font-size: 26px;
			font-weight: 500;
		}
		button {
			width: 240px;
			height: 80px;
			border-radius: 10px;
			font-size: 20px;
			font-weight: 500;
		}
		.google-store {
			background-color: #fff;
			color: #3e3e3e;
			img {
				margin-right: 20px;
			}
		}
		.learn-more {
			background-color: rgba(72, 148, 206, 0.7);
			color: #fff;
		}
	}
}

.s-services {
	padding-top: 110px;
	padding-bottom: 170px;
	.upper-title {
		font-size: 18px;
	}
	h2 {
		font-size: 24px;
		text-transform: uppercase;
	}
	.items {
		width: 100%;
		margin-top: 75px;
		.item {
			width: 280px;
			img {
				margin-bottom: 25px;
			}
			.item-text {
				margin-top: auto;
				text-align: center;
				h3 {
					font-size: 18px;
					font-weight: 600;
					color: #494949;
				}
				p {
					font-size: 14px;
					font-weight: 500;
					color: #7C7C7C;
				}
			}
		}
	}
}

.s-features {
	padding-top: 115px;
	padding-bottom: 115px;
	background: url("../img/bg.jpg") no-repeat;
	.img-container {
		max-width: 680px;
		margin-right: 150px;
		img {
			width: 100%;
			height: auto;
		}
	}
	.upper-title {
		font-size: 22px;
		font-weight: 500;
	}
	h2 {
		font-size: 32px;
	}
	p {
		font-size: 20px;
		color: #7C7C7C;
	}
	ul {
		li {
			margin-bottom: 20px;
			font-size: 14px;
			font-weight: 500;
			color: #7C7C7C;
			.marker {
				margin-right: 20px;
				.marker-outer {
					position: relative;
					width: 20px;
					height: 20px;
					background: #C8EBF5;
					border-radius: 50%;
					.marker-inner {
						width: 10px;
						height: 10px;
						background: #66D4F4;
						border-radius: 50%;
					}
				}
			}
		}
	}
	.general-button {
		width: 150px;
		height: 50px;
		margin-top: 50px;
		border-radius: 25px;
	}
}

.s-other {
	padding-top: 90px;
	h2 {
		text-transform: uppercase;
	}
	.container {
		max-width: 1070px;
		.items {
			margin-top: 110px;
			.item {
				width: 300px;
				margin-bottom: 110px;
				font-weight: 500;
				img {
					margin-right: 20px;
				}
				h3 {
					font-size: 18px;
					color: #494949;
				}
				p {
					font-size: 14px;
					color: #7C7C7C;
				}
			}
		}
	}
}

.s-reviews {
	padding-top: 50px;
	padding-bottom: 110px;
	background: url(../img/bg-2.jpg) no-repeat;
	h2 {
		text-transform: uppercase;
	}
	.reviews {
		position: relative;
		.review {
			position: relative;
			width: 730px;
			height: 350px;
			margin-top: 120px;
			padding-left: 85px;
			padding-right: 85px;
			background-color: #fff;
			border: 1px solid #EAEBEB;
			border-radius: 10px;
			z-index: 100;
			.customer-avatar {
				position: absolute;
				top: -17%;
				padding: 4px;
				border-radius: 50%;
			}
			.customer-name {
				margin-top: 75px;
				font-size: 20px;
				font-weight: 600;
				color: #494949;
			}
			span,
			p {
				font-weight: 500;
				color: #7c7c7c;
			}
			span {
				font-size: 15px;
				line-height: 1.0em;
			}
			p {
				text-align: center;
				font-size: 18px;
			}
		}
		.review-disable {
			position: absolute;
			background-color: #fff;
			border: 1px solid #ECEEEE;
			border-radius: 10px;
		}
		.review-disable-one {
			@extend .review-disable;
			width: 790px;
			height: 309px;
			top: 143px;
			left: -30px;
			opacity: 0.8;
			z-index: 2;
		}
		.review-disable-two {
			@extend .review-disable;
			width: 843px;
			height: 257px;
			top: 170px;
			left: -55px;
			opacity: 0.6;
			z-index: 1;
		}
	}
	.pages {
		margin-top: 40px;
		span {
			font-size: 18px;
			font-weight: 600;
		}
		.slide-prev,
		.slide-next {
			cursor: pointer;
		}
		.slide-prev {
			margin-right: 30px;
			img {
				margin-right: 14px;
			}
			span {
				color: #9EA1A1;
			}
		}
		.slide-next {
			img {
				margin-left: 14px;
			}
			span {
				color: #494949;
			}
		}
	}
}

.s-download {
	padding-top: 160px;
	padding-bottom: 155px;
	.download-text {
		width: 40%;
	}
	.upper-title {
		font-size: 22px;
		font-weight: 500;
	}
	h2 {
		font-size: 32px;
	}
	p {
		color: #7C7C7C;
	}
	.sub-tittle {
		font-size: 20px;
		line-height: 1.4em;
	}
	.description {
		font-size: 14px;
	}
	.img-container {
		width: 40%;
		img {
			width: 100%;
			height: auto;
		}
	}
}

.s-pricing {
	padding-top: 60px;
	padding-bottom: 115px;
	background: url("../img/plans-bg.jpg") no-repeat;
	h2,
	.upper-title {
		text-align: center;
	}
	h2 {
		text-transform: uppercase;
	}
	.plans {
		margin-top: 100px;
		.plan {
			width: 320px;
			height: 600px;
			background: url("../img/plan-bg.jpg") no-repeat;
			background-size: cover;
			border-radius: 20px;
			h3 {
				margin-top: 70px;
				font-size: 18px;
				font-weight: 700;
			}
			p {
				position: relative;
				margin: 0;
				font-size: 72px;
				font-weight: 800;
				line-height: 1.0em;
				color: #52D9F4;
				.currency,
				.date {
					font-size: 20px;
					font-weight: 500;
				}
				.currency {
					position: relative;
					top: -26px;
				}
			}
			ul {
				li {
					margin-top: 15px;
					text-align: center;
					font-size: 16px;
					font-weight: 500;
					color: #7c7c7c;
				}
				li.hidden {
					color: #bebebe;
				}
			}
			.general-button {
				width: 150px;
				height: 50px;
				margin-top: 20px;
				border-radius: 27.21px;
			}
		}
		.main-plan {
			@extend .plan;
			width: 350px;
			height: 625px;
			h3 {
				font-size: 20px;
			}
			p {
				font-size: 78px;
			}
			ul {
				li {
					font-size: 18px;
				}
			}
		}
	}
}

.s-subscribe {
	padding-top: 70px;
	padding-bottom: 150px;
	form {
		margin-top: 65px;
		input,
		.general-button {
			width: 370px;
			height: 75px;
			border-radius: 37.5px;
		}
		input {
			margin-bottom: 27px;
			border: 1px solid #F7F7F7;
		}
		.general-button {
			font-size: 16px;
			font-weight: 600;
		}
	}
}

@import "media";
